.spinner-bg {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  margin-top: -72px
  }
  
  .spinner-img {
  width: 150px;
  height: 150px;
  }
  
  .lds-roller {
  display: inline-block;
  position: absolute;
  left:45vw;
  top: 25vh
  }
  .lds-roller {
  animation: lds-roller 2.5s infinite;
  }
  .lds-roller:after {
  display: block;
  position: absolute;
  background: #fff;
  }
  
  @keyframes lds-roller {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
  } 